{
  "useTabs": false,
  "indent": 2,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "proseWrap": "never",
  "arrowParens": "avoid",
  "semi": true,
  "endOfLine": "lf"
}